/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* @import "compass/reset"; */
/* For Tooltip Section */
/* For Tooltip Section */
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility; }

body {
  font-family: "Muli", Arial, sans-serif;
  background: #000;
  color: #fff;
  margin: 0; }
  body a {
    color: #d0db28;
    text-decoration: none;
    -webkit-transition: 0.25s all;
    transition: 0.25s all; }
  body img {
    max-width: 100%; }
  body li#home {
    list-style: none; }

nav {
  width: 100%;
  position: fixed;
  z-index: 99;
  -webkit-transition: 0.25s all;
  transition: 0.25s all; }
  @media (min-width: 768px) {
    nav {
      height: 93px;
      line-height: 93px; } }
  nav .menu {
    max-width: 960px;
    margin: 0 auto; }
  nav #wrapper {
    position: relative;
    z-index: 2;
    width: 100%;
    float: left;
    display: inline-block; }
  nav #home a {
    background: url(../images/nav-logo-sprite-sml.png) top center no-repeat;
    height: 65px;
    width: 65px;
    margin-left: 0;
    list-style-type: none;
    overflow: hidden;
    text-indent: -9999px;
    display: block;
    position: absolute;
    float: left;
    left: 0;
    top: -16px; }
    @media (min-width: 768px) {
      nav #home a {
        width: 93px;
        height: 93px;
        background: url(../images/nav-logo-sprite.png) top center no-repeat; } }
    nav #home a:hover {
      background-position: bottom center; }
    nav #home a li {
      list-style: none; }
  nav #hamburger {
    position: absolute;
    right: 10px;
    top: -20px;
    margin-bottom: 10px;
    padding: 10px;
    float: right;
    display: inline-block; }
    nav #hamburger a {
      display: block;
      line-height: 45px;
      height: 45px;
      width: 45px;
      z-index: 2; }
      nav #hamburger a span {
        display: inline-block;
        text-indent: -9999px;
        width: 45px;
        height: 4px;
        background: #fff;
        opacity: .60;
        transition: .3s;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        position: relative; }
        nav #hamburger a span:after, nav #hamburger a span:before {
          display: inline-block;
          width: 100%;
          left: 0;
          height: 4px;
          background: #fff;
          position: absolute;
          content: '';
          -webkit-transition: 0.25s;
          transition: 0.25s; }
        nav #hamburger a span:before {
          top: .75em; }
        nav #hamburger a span:after {
          bottom: .75em; }
      @media (min-width: 480px) {
        nav #hamburger a {
          display: none; } }
    nav #hamburger.close a span {
      -moz-transform-origin: rotateZ(45deg);
      -webkit-transform: rotateZ(45deg);
      -ms-transform: rotateZ(45deg);
      transform: rotateZ(45deg); }
      nav #hamburger.close a span:before, nav #hamburger.close a span:after {
        top: 0;
        bottom: 0;
        -moz-transform-origin: rotateZ(-90deg);
        -webkit-transform: rotateZ(-90deg);
        -ms-transform: rotateZ(-90deg);
        transform: rotateZ(-90deg); }
  nav div#meat {
    z-index: 1;
    position: fixed;
    display: table;
    width: 100%;
    height: 100%;
    background: #8a900d;
    -webkit-transition: 0.25s;
    transition: 0.25s;
    margin-left: 100%; }
    nav div#meat.reveal {
      margin: 0; }
    @media (min-width: 480px) {
      nav div#meat {
        display: block;
        background: transparent;
        margin: 0;
        height: auto; } }
    @media (min-width: 960px) {
      nav div#meat {
        width: 960px;
        margin: 0 auto; } }
    nav div#meat ul {
      display: table-cell;
      vertical-align: middle; }
      @media (min-width: 480px) {
        nav div#meat ul {
          display: block;
          margin-left: 80px; } }
      @media (min-width: 768px) {
        nav div#meat ul {
          display: block;
          margin-left: 85px;
          margin-bottom: 30px; } }
    nav div#meat li {
      text-align: center;
      width: 100%;
      display: block; }
      @media (min-width: 480px) {
        nav div#meat li {
          float: left;
          width: auto;
          height: 93px; } }
      nav div#meat li a {
        font-size: 32px;
        margin: 0 15px;
        display: block;
        color: #fff;
        -webkit-transition: 0.25s all;
        transition: 0.25s all;
        height: 65px;
        line-height: 65px; }
        @media (min-width: 480px) {
          nav div#meat li a {
            font-size: 12px;
            margin: 0 7px; } }
        @media (min-width: 620px) {
          nav div#meat li a {
            font-size: 16px;
            margin: 0 15px; } }
        @media (min-width: 768px) {
          nav div#meat li a {
            text-transform: uppercase;
            font-size: 18px;
            margin: 0 20px;
            height: 93px;
            line-height: 93px; } }
        @media (min-width: 960px) {
          nav div#meat li a {
            font-size: 20px; } }
        nav div#meat li a:hover {
          color: #d0db28; }
  nav.scroll {
    background: #898989;
    background: rgba(0, 0, 0, 0.75);
    height: 65px; }
    nav.scroll #home a {
      background: url(../images/nav-logo-sprite-sml.png) top center no-repeat;
      height: 65px;
      width: 65px; }
    nav.scroll #meat li,
    nav.scroll #meat li a {
      height: 65px;
      line-height: 40px;
      font-size: 24px; }
      @media (min-width: 480px) {
        nav.scroll #meat li,
        nav.scroll #meat li a {
          font-size: 95%; } }

section {
  position: relative;
  display: table;
  width: 100%;
  z-index: 1; }
  section:not(.case-study) {
    padding: 40px 20px; }
    @media (min-width: 321px) {
      section:not(.case-study) {
        padding: 80px 40px; } }
    @media (min-width: 768px) {
      section:not(.case-study) {
        padding: 120px 40px; } }
    @media (min-width: 960px) {
      section:not(.case-study) {
        padding: 0; } }
  section h1 {
    font-size: 38px;
    font-weight: 300;
    margin-bottom: 40px;
    line-height: 120%; }
    @media (min-width: 768px) {
      section h1 {
        font-size: 54px; } }
    section h1 strong {
      color: #d0db28;
      font-weight: 300; }
  section p {
    font-size: 22px;
    line-height: 150%; }
    @media (min-width: 768px) {
      section p {
        font-size: 24px; } }
    section p strong {
      color: #d0db28;
      font-weight: 300; }
  section .contain {
    display: table-cell;
    vertical-align: middle; }
    section .contain .info {
      display: block; }
    section .contain .info, section .contain .info-inner {
      width: 100%;
      clear: both; }
      @media (min-width: 960px) {
        section .contain .info, section .contain .info-inner {
          width: 960px;
          margin: 0 auto; } }
  section .study-intro {
    position: relative; }
    section .study-intro .info {
      margin: 0 auto;
      display: block;
      text-align: center;
      padding: 0 40px; }
      section .study-intro .info .info-inner {
        display: table-cell;
        vertical-align: middle; }
  section .study-info {
    background: #000;
    border-bottom: 12px solid #d0db28; }
    section .study-info .info-border-top {
      margin-top: -20px;
      border-top: 20px solid rgba(255, 255, 255, 0.5); }
      section .study-info .info-border-top.green {
        border-color: rgba(138, 144, 13, 0.58); }
        section .study-info .info-border-top.green .info-wrap {
          background: #8a900d; }
    section .study-info .info-wrap {
      width: 100%; }
      section .study-info .info-wrap.pic .right img {
        display: block;
        margin: 0 auto; }
        @media (min-width: 480px) {
          section .study-info .info-wrap.pic .right img {
            float: right;
            margin: 0; } }
    section .study-info .info {
      width: 100%;
      padding: 60px 20px; }
      @media (min-width: 321px) {
        section .study-info .info {
          padding: 90px 40px; } }
      @media (min-width: 960px) {
        section .study-info .info {
          width: 960px; } }
      section .study-info .info .col-1.col-50 {
        padding-left: 0; }
      section .study-info .info .col-2.col-50 {
        padding-right: 0; }
      section .study-info .info h2 {
        font-size: 38px;
        word-wrap: break-word;
        color: #d0db28;
        line-height: 150%; }
        @media (min-width: 480px) {
          section .study-info .info h2 {
            font-size: 54px; } }
      section .study-info .info h3 {
        text-transform: uppercase;
        color: #d0db28;
        font-size: 28px; }
        @media (min-width: 321px) {
          section .study-info .info h3 {
            font-size: 34px; } }
      section .study-info .info p {
        text-align: left;
        margin: 1em 0; }
    section .study-info div, section .study-info img {
      position: relative; }
    section .study-info div {
      z-index: 2; }
    section .study-info > img {
      z-index: 1;
      display: block;
      width: 100%;
      height: auto; }

.insight {
  color: #d0db28;
  padding-bottom: 15px;
  font-size: 32px;
  text-transform: uppercase; }
  .insight:before {
    background: url(../images/sprite_icons-100.png) center top no-repeat;
    text-indent: -9999px;
    content: "";
    height: 100px;
    width: 100px;
    padding-bottom: 15px;
    display: block;
    text-align: center;
    margin: 0 auto; }
  .insight.knight:before {
    background-position: 0 0; }
  .insight.bulb:before {
    background-position: -100px 0; }
  .insight.fly:before {
    background-position: -200px 0; }

button,
.request a {
  font-family: "Muli", Arial, sans-serif;
  display: inline-block;
  background: transparent;
  color: #fff;
  border: 2px solid #d0db28;
  padding: 15px 15px 12px 15px;
  line-height: 100%;
  text-transform: uppercase;
  font-size: 18px;
  width: 100%;
  text-align: center;
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
  cursor: pointer; }
  @media (min-width: 321px) {
    button,
    .request a {
      font-size: 24px; } }
  @media (min-width: 480px) {
    button,
    .request a {
      width: auto; } }
  button:hover,
  .request a:hover {
    background: #d0db28;
    color: #000; }

.case-study .study-intro h1, .case-study .study-intro p {
  text-align: center; }

.col {
  margin: 40px 0; }
  @media (min-width: 480px) {
    .col {
      float: left;
      padding: 10px;
      margin: 0; } }
  .col img {
    max-width: 100%; }
  @media (min-width: 480px) {
    .col.col-25 {
      width: 25%; } }
  @media (min-width: 480px) {
    .col.col-33 {
      width: 33%; } }
  @media (min-width: 480px) {
    .col.col-50 {
      width: 49.5%; } }
  @media (min-width: 480px) {
    .col.col-66 {
      width: 66%; } }
  @media (min-width: 480px) {
    .col.col-75 {
      width: 75%; } }

.view-more {
  position: absolute;
  bottom: 7%;
  left: 0;
  width: 100%;
  text-align: center;
  display: block;
  padding: 15px 0 25px 0; }
  @media (max-height: 650px) {
    .view-more {
      bottom: 0; } }
  @media (max-width: 480px) {
    .view-more {
      bottom: 0; } }
  .view-more a {
    text-transform: uppercase;
    display: inline-block;
    background: url(../images/bg_more.png) center bottom no-repeat;
    padding: 0 5px 30px 5px; }
    .view-more a:hover {
      color: #fff;
      background-position: center 85%; }

.get-paper {
  font-size: 18px;
  text-transform: uppercase; }
  @media (min-width: 960px) {
    .get-paper {
      font-size: 22px; } }

.right {
  text-align: right;
  float: right; }

.center {
  text-align: center; }

.wd-25 {
  width: 25%; }

.wd-40 {
  width: 40%; }

.wd-50 {
  width: 50%; }

.wd-60 {
  width: 60%; }

.wd-75 {
  width: 75%; }

section .infogfx .gfx img {
  display: block;
  margin: 0 auto; }

/* Intro */
#intro {
  padding-top: 60px;
  background: none !important;
  background-size: cover;
  text-align: center; }
  @media (min-width: 768px) {
    #intro {
      background-position: center center; } }
  @media (max-width: 769px) {
    #intro {
      padding-top: 120px; } }
  #intro video {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: .2;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  @media (min-width: 480px) {
    #intro .col-1 {
      text-align: left;
      width: 60%; } }
  @media (min-width: 480px) {
    #intro .col-2 {
      width: 40%;
      margin-top: 110px; } }
  @media (min-width: 768px) {
    #intro .col-2 {
      margin-top: 160px; } }

#intro-2 {
  background: url(../images/bg_intro_2.jpg) 80% center;
  background-size: cover;
  background: #252525;
  text-align: left; }
  @media (min-width: 768px) {
    #intro-2 {
      background-position: center center;
      text-align: center; } }

#intro-3 {
  background: url(../images/bg_intro_3.jpg) 0% center;
  background-size: cover;
  text-align: left; }
  @media (min-width: 480px) {
    #intro-3 {
      background-position: 35% center; } }
  @media (min-width: 769px) {
    #intro-3 {
      text-align: center;
      background-position: center center; } }
  #intro-3 .col-1 {
    text-align: left; }
    @media (min-width: 768px) {
      #intro-3 .col-1 {
        margin-left: 40%; } }

#intro-4 {
  background: url(../images/bg_intro_4.jpg) 77% center;
  background-size: cover;
  text-align: left; }
  @media (min-width: 768px) {
    #intro-4 {
      text-align: center;
      background-position: center center; } }
  #intro-4 .col-1 {
    text-align: left; }
    @media (min-width: 480px) {
      #intro-4 .col-1 {
        width: 59%; } }
  @media (min-width: 480px) {
    #intro-4 .col-2 {
      width: 40%; } }
  @media (min-width: 480px) {
    #intro-4 .col-2 img {
      margin-top: 180px; } }
  #intro-4 .col-2.right {
    float: none; }
    @media (min-width: 480px) {
      #intro-4 .col-2.right {
        float: right; } }

.alt #intro-4 .col-1 {
  width: 60%;
  margin: 0; }
.alt #intro-4 .col-2 {
  position: relative;
  margin-top: 60px;
  transform-style: preserve-3d;
  transform: scale(0.8); }

#intro-5 {
  background: url(../images/bg_insights.jpg) 37% center;
  background-size: cover; }
  @media (min-width: 768px) {
    #intro-5 {
      background-position: center center; } }
  #intro-5 h1 {
    text-align: left; }
    @media (min-width: 769px) {
      #intro-5 h1 {
        text-align: center; } }
  @media (min-width: 960px) {
    #intro-5 .col-1 {
      margin-left: 40%; } }

/* Case Study 1 */
#study-1 .study-intro {
  background: url(../images/bg_study-1.jpg) 42% center;
  background-size: cover; }
  @media (min-width: 768px) {
    #study-1 .study-intro {
      background-position: center center; } }
#study-1 .pic {
  background: url(../images/study-1-6-bg.jpg) center center;
  background-size: cover; }
#study-1 h2 {
  font-size: 24px; }
  @media (min-width: 480px) {
    #study-1 h2 {
      font-size: 54px; } }

/* Case Study 2 */
#study-2 .study-intro {
  background: url(../images/bg_study-2.jpg) 42% center;
  background-size: cover; }
#study-2 .greenbg {
  background-color: #8a900d; }
#study-2 .greybg {
  background-color: #363636;
  height: 100%; }
#study-2 .whitebg {
  color: #474848;
  background-color: #FFF; }
#study-2 .imgcontainer {
  /* Insight #2 Section: Tooltips */ }
  @media (min-width: 321px) {
    #study-2 .imgcontainer {
      position: relative;
      margin: 0 auto;
      margin-top: -40px;
      max-width: 957px;
      text-align: center;
      -webkit-transition: 0.2s;
      transition: 0.2s; } }
  @media (min-width: 768px) {
    #study-2 .imgcontainer {
      margin: 0 auto;
      margin-top: -40px;
      max-width: 757px;
      text-align: center;
      height: 2461px;
      margin-bottom: 40px; } }
  @media (min-width: 864px) {
    #study-2 .imgcontainer {
      height: 2461px; } }
  @media (min-width: 960px) {
    #study-2 .imgcontainer {
      max-width: 957px;
      height: 2151px; } }
  @media (min-width: 1080px) {
    #study-2 .imgcontainer {
      height: 2151px; } }
  @media (min-width: 1200px) {
    #study-2 .imgcontainer {
      height: 2151px; } }
  #study-2 .imgcontainer ul {
    list-style: none;
    height: 100%;
    width: 100%;
    margin-top: inherit;
    margin-bottom: inherit;
    margin: 0 auto;
    vertical-align: inherit; }
    @media (min-width: 321px) {
      #study-2 .imgcontainer ul {
        padding: 0; } }
  #study-2 .imgcontainer #bgimg1 {
    z-index: 2;
    opacity: 0;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: auto;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
    @media (min-width: 960px) {
      #study-2 .imgcontainer #bgimg1 {
        display: inline-block;
        opacity: 1; } }
  #study-2 .imgcontainer #bgimg2 {
    z-index: 1;
    opacity: 0;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
    @media (min-width: 960px) {
      #study-2 .imgcontainer #bgimg2 {
        display: inline-block;
        opacity: 1; } }
  #study-2 .imgcontainer #tabletimg {
    display: none;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    position: absolute; }
    @media (min-width: 321px) {
      #study-2 .imgcontainer #tabletimg {
        display: none; } }
    @media (min-width: 768px) {
      #study-2 .imgcontainer #tabletimg {
        display: inline-block; } }
    @media (min-width: 960px) {
      #study-2 .imgcontainer #tabletimg {
        display: none; } }
  #study-2 .imgcontainer .mobile-img {
    display: inline-block;
    width: 100%;
    z-index: 1;
    position: relative; }
    @media (min-width: 768px) {
      #study-2 .imgcontainer .mobile-img {
        display: none; } }
  #study-2 .imgcontainer .mobile-tip-wrap {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: auto;
    z-index: 2; }
  #study-2 .imgcontainer .mobile-tip {
    align-items: center;
    justify-content: center;
    font-size: 28px;
    z-index: 3;
    display: block;
    padding: 50px 55px 55px 55px; }
  #study-2 .imgcontainer .buttonsimg {
    position: relative;
    display: inline-block;
    z-index: 5;
    background-blend-mode: multiply; }
  #study-2 .imgcontainer .buttons {
    border-radius: 50%;
    display: block;
    background: url(../images/btn.png) center center no-repeat rgba(37, 37, 37, 0.6);
    background-size: contain;
    width: 75px;
    height: 75px;
    position: absolute;
    z-index: 4;
    box-shadow: 0px 0px 148px -6px black;
    -moz-transform-origin: perspective(1px) translateZ(0);
    -webkit-transform: perspective(1px) translateZ(0);
    -ms-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition: 0.2s;
    transition: 0.2s; }
    @media (min-width: 321px) {
      #study-2 .imgcontainer .buttons {
        display: none; } }
    #study-2 .imgcontainer .buttons:before {
      content: '';
      position: absolute;
      border: #d0db28 solid 2px;
      border-radius: 50%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      -webkit-transition: 0.2s;
      transition: 0.2s;
      -webkit-transition-property: top, right, bottom, left;
      -moz-transition-property: top, right, bottom, left;
      transition-property: top, right, bottom, left;
      z-index: 2; }
    #study-2 .imgcontainer .buttons:hover:before, #study-2 .imgcontainer .buttons:focus:before, #study-2 .imgcontainer .buttons:active:before {
      top: -9px;
      right: -9px;
      bottom: -9px;
      left: -9px; }
  @media (min-width: 768px) {
    #study-2 .imgcontainer #btn-1 {
      display: none; } }
  @media (min-width: 960px) {
    #study-2 .imgcontainer #btn-1 {
      display: block;
      top: 10.98%;
      left: 2%; } }
  @media (min-width: 768px) {
    #study-2 .imgcontainer #btn-2 {
      display: block;
      top: 21%;
      left: 78%; } }
  @media (min-width: 960px) {
    #study-2 .imgcontainer #btn-2 {
      top: 30.4%;
      left: 84.5%; } }
  @media (min-width: 768px) {
    #study-2 .imgcontainer #btn-3 {
      display: block;
      top: 40%;
      left: 14.4%; } }
  @media (min-width: 960px) {
    #study-2 .imgcontainer #btn-3 {
      top: 45%;
      left: 20.5%; } }
  @media (min-width: 768px) {
    #study-2 .imgcontainer #btn-4 {
      display: block;
      top: 50%;
      left: 88%; } }
  @media (min-width: 960px) {
    #study-2 .imgcontainer #btn-4 {
      top: 58.7%;
      left: 83%; } }
  @media (min-width: 768px) {
    #study-2 .imgcontainer #btn-5 {
      display: block;
      top: 53.6%;
      left: 35%; } }
  @media (min-width: 960px) {
    #study-2 .imgcontainer #btn-5 {
      top: 68.3%;
      left: 12.5%; } }
  #study-2 .imgcontainer .bubble1, #study-2 .imgcontainer .bubble2 {
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    border-radius: 50%;
    color: #363636;
    border: 3px solid #d0db28;
    background-color: #FFF;
    position: absolute;
    z-index: 3;
    text-align: center;
    box-shadow: 0px 0px 148px -6px black;
    display: block;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    -moz-transform-origin: scale(0.2);
    -webkit-transform: scale(0.2);
    -ms-transform: scale(0.2);
    transform: scale(0.2);
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    opacity: 0; }
    #study-2 .imgcontainer .bubble1.active, #study-2 .imgcontainer .active.bubble2 {
      -moz-transform-origin: scale(1);
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      opacity: 0.95;
      display: block; }
  #study-2 .imgcontainer .bubble2 {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    -moz-transform-origin: scale(0.2);
    -webkit-transform: scale(0.2);
    -ms-transform: scale(0.2);
    transform: scale(0.2);
    -webkit-transform-origin: right top;
    -moz-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
    opacity: 0; }
    #study-2 .imgcontainer .bubble2.active {
      -moz-transform-origin: scale(1);
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      opacity: 0.95;
      display: block; }
  #study-2 .imgcontainer .tip1 {
    width: 230px;
    height: 230px;
    padding: 70px 35px 35px 35px; }
    @media (min-width: 768px) {
      #study-2 .imgcontainer .tip1 {
        top: 12.5%;
        left: 3.5%; } }
    @media (min-width: 960px) {
      #study-2 .imgcontainer .tip1 {
        top: 11.8%;
        left: 3.5%; } }
  #study-2 .imgcontainer .tip2 {
    width: 230px;
    height: 230px;
    padding: 35px 35px 35px 35px; }
    @media (min-width: 768px) {
      #study-2 .imgcontainer .tip2 {
        top: 22.4%;
        left: 56.5%; } }
    @media (min-width: 960px) {
      #study-2 .imgcontainer .tip2 {
        top: 32%;
        left: 67%; } }
  #study-2 .imgcontainer .tip3 {
    width: 290px;
    height: 290px;
    padding: 73px 35px 35px 35px; }
    @media (min-width: 768px) {
      #study-2 .imgcontainer .tip3 {
        top: 40.9%;
        left: 14.1%; } }
    @media (min-width: 960px) {
      #study-2 .imgcontainer .tip3 {
        top: 45.9%;
        left: 19.9%; } }
  #study-2 .imgcontainer .tip4 {
    width: 260px;
    height: 260px;
    padding: 55px 35px 35px 35px; }
    @media (min-width: 768px) {
      #study-2 .imgcontainer .tip4 {
        top: 51.3%;
        left: 63%; } }
    @media (min-width: 960px) {
      #study-2 .imgcontainer .tip4 {
        top: 59.8%;
        left: 64%; } }
  #study-2 .imgcontainer .tip5 {
    height: 290px;
    width: 290px;
    padding: 68px 35px 35px 35px; }
    @media (min-width: 768px) {
      #study-2 .imgcontainer .tip5 {
        top: 54.5%;
        left: 32.5%; } }
    @media (min-width: 960px) {
      #study-2 .imgcontainer .tip5 {
        top: 69.3%;
        left: 11%; } }
@media (min-width: 321px) {
  #study-2 .col-1 {
    width: 100%; } }
@media (min-width: 480px) {
  #study-2 .col-1 {
    width: 60%; } }
@media (min-width: 768px) {
  #study-2 .col-1 {
    width: 80%;
    padding: 0; } }
@media (min-width: 960px) {
  #study-2 .col-1 {
    width: 75%; } }
@media (min-width: 321px) {
  #study-2 .col-2 {
    width: 0%; } }
@media (min-width: 480px) {
  #study-2 .col-2 {
    padding-top: 130px;
    width: 40%; } }
@media (min-width: 768px) {
  #study-2 .col-2 {
    width: 20%;
    padding-top: 30px; } }
@media (min-width: 960px) {
  #study-2 .col-2 {
    width: 25%;
    padding: 0; } }
@media (min-width: 480px) {
  #study-2 .col-2 img {
    width: 75%;
    height: auto; } }
#study-2 .col-2.right {
  float: none; }
  @media (min-width: 480px) {
    #study-2 .col-2.right {
      float: right; } }

/* Case Study 3 */
#study-3 .study-intro {
  background: url(../images/bg_study-3.jpg) center center;
  background-size: cover; }
#study-3 .pic {
  background: url(../images/study-3-7-bg.jpg) center center;
  background-size: cover; }
@media (min-width: 480px) {
  #study-3 .col-1 {
    width: 60%; } }
@media (min-width: 768px) {
  #study-3 .col-1 {
    width: 75%; } }
@media (min-width: 480px) {
  #study-3 .col-2 {
    width: 40%; } }
@media (min-width: 768px) {
  #study-3 .col-2 {
    width: 25%; } }
@media (min-width: 480px) {
  #study-3 .col-2 img {
    width: 75%;
    height: auto; } }
#study-3 .col-2.right {
  float: none; }
  @media (min-width: 480px) {
    #study-3 .col-2.right {
      float: right; } }

.backgroundblendmode #intro {
  background: url(../images/bg_intro_1-blend.jpg) 80% center #606136;
  background-size: cover;
  background-blend-mode: multiply; }
  @media (min-width: 768px) {
    .backgroundblendmode #intro {
      background-position: center center; } }
.backgroundblendmode #intro-2 {
  background: url(../images/bg_intro_2-blend.jpg) 80% center #616161;
  background-size: cover;
  background-blend-mode: multiply; }
  @media (min-width: 768px) {
    .backgroundblendmode #intro-2 {
      background-position: center center; } }
.backgroundblendmode #intro-3 {
  background: url(../images/bg_intro_3-blend.jpg) 0% center #606136;
  background-size: cover;
  background-blend-mode: multiply; }
  @media (min-width: 480px) {
    .backgroundblendmode #intro-3 {
      background-position: 35% center; } }
  @media (min-width: 769px) {
    .backgroundblendmode #intro-3 {
      text-align: center;
      background-position: center center; } }
.backgroundblendmode #intro-4 {
  background: url(../images/bg_intro_4-blend.jpg) 77% center #616161;
  background-size: cover;
  background-blend-mode: multiply; }
  @media (min-width: 768px) {
    .backgroundblendmode #intro-4 {
      background-position: center center; } }
.backgroundblendmode #insights {
  background: url(../images/bg_insights-blend.jpg) 37% center #606136;
  background-size: cover;
  background-blend-mode: multiply; }
  @media (min-width: 768px) {
    .backgroundblendmode #insights {
      background-position: center center; } }
.backgroundblendmode #study-1 .study-intro {
  background: url(../images/bg_study-1-blend.jpg) 42% center #616161;
  background-size: cover;
  background-blend-mode: multiply; }
  @media (min-width: 768px) {
    .backgroundblendmode #study-1 .study-intro {
      background-position: center center; } }
.backgroundblendmode #study-1 .pic {
  background: url(../images/study-1-6-bg-blend.jpg) 0% center #616161;
  background-size: cover;
  background-blend-mode: multiply; }
  @media (min-width: 768px) {
    .backgroundblendmode #study-1 .pic {
      background-position: center center; } }
.backgroundblendmode #study-2 .study-intro {
  background: url(../images/study-2-intro.jpg) center center #616161;
  background-size: cover;
  background-blend-mode: multiply; }
.backgroundblendmode #study-2 .picbg {
  background: url(../images/study-2-7.jpg) center center #252525;
  background-size: cover;
  background-clip: padding-box;
  background-blend-mode: multiply; }
  @media (min-width: 768px) {
    .backgroundblendmode #study-2 .picbg {
      background-position: center center; } }
.backgroundblendmode #study-2 .topborder {
  margin-top: -20px;
  border-top: 20px solid rgba(0, 0, 0, 0.75); }
.backgroundblendmode #study-3 .study-intro {
  background: url(../images/bg_study-3-blend.jpg) center center #616161;
  background-size: cover;
  background-blend-mode: multiply; }

/* Experience */
#experience {
  background: #949494; }
  #experience .logos {
    list-style: none;
    margin: 0;
    padding: 0 0 40px 0; }
    #experience .logos li {
      display: block;
      margin: 0 auto;
      height: 90px;
      overflow: hidden;
      text-indent: -9999px;
      background: url(../images/logos-sprite.png) no-repeat top center; }
      @media (min-width: 768px) {
        #experience .logos li {
          display: inline-block;
          margin: 10px 20px; } }
      #experience .logos li#aarp {
        width: 188px;
        background-position: center top; }
      #experience .logos li#aon {
        width: 112px;
        background-position: center -90px; }
      #experience .logos li#ncoa {
        width: 196px;
        background-position: center -180px; }
      #experience .logos li#seacrest {
        width: 195px;
        background-position: center -270px; }
      #experience .logos li#eyemed {
        width: 91px;
        background-position: center -360px; }
      #experience .logos li#aarp-road {
        width: 271px;
        background-position: center -450px; }
      #experience .logos li#welmedix {
        width: 105px;
        background-position: center -540px; }
      #experience .logos li#matrix {
        width: 199px;
        background-position: center -630px; }
      #experience .logos li#pfizer {
        width: 130px;
        background-position: center -720px; }
      #experience .logos li#walgreens {
        width: 197px;
        background-position: center -810px; }
  #experience img {
    display: block;
    margin: 0 auto; }
    @media (min-width: 768px) {
      #experience img {
        display: inline-block;
        padding: 10px 20px;
        margin: 0; } }
  #experience .request a {
    color: #fff;
    border-color: #fff; }
    #experience .request a:hover {
      border-color: #d0db28; }

#contact {
  background: #252525; }
  #contact h1 {
    color: #d0db28; }
  #contact .input-wrapper {
    border: 1px solid rgba(255, 255, 255, 0.6); }
    @media (min-width: 768px) {
      #contact .input-wrapper {
        width: 90%; } }
    #contact .input-wrapper.focus {
      border-color: #fff;
      background: rgba(255, 255, 255, 0.05); }
  #contact p {
    font-size: 22px; }
    #contact p small {
      font-size: 75%; }
  #contact h2 {
    color: #d0db28;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: .5em;
    line-height: 150%; }
  #contact label {
    position: relative;
    display: block;
    text-transform: uppercase;
    padding: 10px 10px 0 10px;
    margin: 0;
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px; }
    @media (min-width: 768px) {
      #contact label {
        padding-right: 80px; } }
    @media (min-width: 321px) {
      #contact label {
        font-size: 14px; } }
    #contact label sup {
      color: red;
      font-size: 75%;
      position: absolute;
      right: 10px;
      top: 10px; }
  #contact input,
  #contact textarea {
    border: 0;
    background: transparent;
    padding: 10px;
    color: #fff;
    width: 100%;
    font-family: "Muli", Arial, sans-serif;
    font-size: 18px; }
    @media (min-width: 321px) {
      #contact input,
      #contact textarea {
        font-size: 20px; } }
    @media (min-width: 480px) {
      #contact input,
      #contact textarea {
        font-size: 24px; } }
    #contact input:focus,
    #contact textarea:focus {
      border-color: #d0db28;
      outline: none; }
  #contact textarea {
    resize: vertical;
    overflow: auto;
    height: 150px; }
  #contact button {
    width: 100%;
    margin: 20px 0; }
    @media (min-width: 768px) {
      #contact button {
        width: auto; } }
  #contact .msg {
    display: none;
    border: 2px solid white;
    background: rgba(255, 255, 255, 0.25);
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    line-height: 150%; }
    @media (min-width: 768px) {
      #contact .msg {
        width: 90%; } }
    #contact .msg.error {
      border-color: #c80000;
      background: rgba(200, 0, 0, 0.25); }
    #contact .msg.success {
      border-color: #00c800;
      background: rgba(0, 200, 0, 0.25); }

#whitepapers {
  display: none;
  background: #fff;
  color: #898989; }
  #whitepapers .contain {
    width: 100%; }
    @media (min-width: 960px) {
      #whitepapers .contain {
        width: 960px; } }
  #whitepapers h2, #whitepapers p, #whitepapers a {
    text-align: left; }
  #whitepapers h2 {
    font-size: 32px;
    text-transform: uppercase;
    margin: 20px 0; }
  #whitepapers a {
    color: #8a900d; }

.no-mobile {
  display: none !important; }
  @media (min-width: 480px) {
    .no-mobile {
      display: block !important; } }
  @media (min-width: 480px) {
    .no-mobile.tablet {
      display: none !important; } }
  @media (min-width: 769px) {
    .no-mobile.tablet {
      display: block !important; } }

.mobile-only {
  display: block !important; }
  @media (min-width: 480px) {
    .mobile-only {
      display: none !important; } }

/* Comcast Temporary */
.cstlayout {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: auto; }

img#cstlayoutImg {
  width: 100%; }

/* In case JS doesn't work */
section,
.study-intro,
.info-inner {
  min-height: 700px !important;
  padding: 80px 0; }

.case-study {
  padding: 0; }

/* Clearfix */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

.nopadding {
  padding: 0 !important; }
