///* Fonts */
$font-stack: "Muli", Arial, sans-serif;

///* Colors */
$drkgrn: rgb(138, 144, 13);
$grn: rgb(208, 219, 40);
$gry: rgb(54,54,54);
$drkgry: rgb(37, 37, 37);
$blend-grn: rgb(96, 97, 54);
$blend-gry: rgb(97, 97, 97);

///* Menu */
$menu-big: 93px;
$menu-sml: 65px;

///* Break Points */
$tny: 321px;
$sml: 480px;
$med: 768px;
$bigmed: 864px; /* For Tooltip Section */
$lrg: 960px;
$lrgr: 1080px; /* For Tooltip Section */
$xl: 1200px;

///* Tooltip Sizes */
$tipsml: 230px;
$tipmed: 260px;
$tiplrg: 290px;
$tipxl: 320px;


@mixin bp($point) {
	@media (min-width: $point)  { @content ; }
}

@mixin bp-max($point) {
	@media (max-width: $point)  { @content ; }
}

@mixin transition($value) {
	-webkit-transition: $value;
	        transition: $value;
}

@mixin transition-property($property...) {
  -webkit-transition-property: $property;
	   -moz-transition-property: $property;
          transition-property: $property;
}

@mixin transform($value) {
 -moz-transform-origin: $value;
	   -webkit-transform: $value;
	       -ms-transform: $value;
			       transform: $value;
}

@mixin transform-origin ($origin) {
 -webkit-transform-origin: $origin;
	  -moz-transform-origin: $origin;
	   -ms-transform-origin: $origin;
         transform-origin: $origin;
}
