/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/* @import "compass/reset"; */
@import "_mixins";

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

body {
	font-family: $font-stack;
	background: #000;
	color: #fff;
	margin: 0;

	a {
		color: $grn;
		text-decoration: none;

		@include transition(.25s all);
	}

	img {
		max-width: 100%;
	}

	li#home {
    list-style: none;
  }
}

nav {
	width: 100%;
	position: fixed;
	z-index: 99;

	@include bp($med) {
		height: $menu-big;
		line-height: $menu-big;
	}

	@include transition(.25s all);
	.menu {
		max-width: $lrg;
		margin: 0 auto;
	}

	#wrapper {
		position: relative;
		z-index: 2;
		width: 100%;
		float: left;
		display: inline-block;
	}

	#home {
		a {
			background: url(../images/nav-logo-sprite-sml.png) top center no-repeat;
			height: $menu-sml;
			width: $menu-sml;
			@include bp($med) {
				width: $menu-big;
				height: $menu-big;
				background: url(../images/nav-logo-sprite.png) top center no-repeat;
			}
			margin-left: 0;
			list-style-type: none;
			overflow: hidden;
			text-indent: -9999px;
			display: block;
			position: absolute;
			float: left;
			left: 0;
			top: -16px;

			&:hover {
				background-position: bottom center;
			}

			li {
				list-style: none;
			}
		}
	}

	#hamburger {
		position: absolute;
		right: 10px;
		top: -20px;
		margin-bottom: 10px;
		padding: 10px;
		float: right;
		display: inline-block;

		a {
			display: block;
			line-height: 45px;
			height: 45px;
			width: 45px;
			z-index: 2;

			span {
				display: inline-block;
				text-indent: -9999px;
				width: 45px;
				height: 4px;
				background: #fff;
				opacity: .60;
				transition: .3s;
				-webkit-transition: .3s;
				-moz-transition: .3s;
				position: relative;

				&:after, &:before {
					display: inline-block;
					width: 100%;
					left: 0;
					height: 4px;
					background: #fff;
					position: absolute;
					content: '';
					@include transition(.25s)
				}
				&:before {
					top: .75em;
				}
				&:after {
					bottom: .75em;
				}

			}
			@include bp($sml) {
				display: none;
			}
		}
		&.close a span {
			@include transform(rotateZ(45deg));

			&:before, &:after {
				top: 0;
				bottom: 0;
				@include transform(rotateZ(-90deg));
			}
		}

	}

	div#meat {
		z-index: 1;
		position: fixed;
		display: table;
		width: 100%;
		height: 100%;
		background: $drkgrn;
		@include transition(.25s);

		margin-left: 100%;
		&.reveal {
			margin: 0;
		}


		@include bp($sml) {
			display: block;
			background: transparent;
			margin: 0;
			height: auto;
		}
		@include bp($lrg) {
			width: $lrg;
			margin: 0 auto;
		}

		ul {
			display: table-cell;
			vertical-align: middle;

			@include bp($sml) {
				display: block;
				margin-left: $menu-sml + 15px;
			}
			@include bp($med) {
				display: block;
				margin-left: 85px;
				margin-bottom: 30px;
			}
		}

		li {
			text-align: center;
			width: 100%;
			display: block;

			@include bp($sml) {
				float: left;
				width: auto;
				height: $menu-big;
			}

			a {
				font-size: 32px;
				margin: 0 15px;
				@include bp($sml) {
					font-size: 12px;
					margin: 0 7px;
				}
				@include bp(620px) {
					font-size: 16px;
					margin: 0 15px;
				}
				display: block;
				color: #fff;
				@include transition(.25s all);
				height: $menu-sml;
				line-height: $menu-sml;

				@include bp($med) {
					text-transform: uppercase;
					font-size: 18px;
					margin: 0 20px;
					height: $menu-big;
					line-height: $menu-big;
				}
				@include bp($lrg) {
					font-size: 20px;
				}

				&:hover {
					color: $grn;
				}
			}
		}
	}


	&.scroll {
		background: rgb(137, 137, 137);
		background: rgba(0, 0, 0, .75);
		height: $menu-sml;

		#home a {
			background: url(../images/nav-logo-sprite-sml.png) top center no-repeat;
			height: $menu-sml;
			width: $menu-sml;
		}

		#meat li,
		#meat li a {
			height: $menu-sml;
			line-height: 40px;
			font-size: 24px;
			@include bp($sml) {
				font-size: 95%;
			}
		}
	}
}

section {
	position: relative;
	display: table;
	width: 100%;
	z-index: 1;

	&:not(.case-study) {
		padding: 40px 20px;
		@include bp($tny) {
			padding: 80px 40px;
		}
		@include bp($med) {
			padding: 120px 40px;
		}
		@include bp($lrg) {
			padding: 0;
		}
	}

	h1 {
		font-size: 38px;
		@include bp($med) {
			font-size: 54px;
		}
		font-weight: 300;
		margin-bottom: 40px;
		line-height: 120%;

		strong {
			color: $grn;
			font-weight: 300;
		}
	}

	p {
		font-size: 22px;
		@include bp($med) {
			font-size: 24px;
		}
		line-height: 150%;

		strong {
			color: $grn;
			font-weight: 300;
		}
	}

	.contain {
		.info {
			display: block;
		}
		display: table-cell;
		vertical-align: middle;

		.info, .info-inner {
			width: 100%;
			clear: both;

			@include bp($lrg) {
				width: $lrg;
				margin: 0 auto;
			}
		}
	}
	&:not(.case-study) {
		.contain {
		}
	}


	.study-intro {
		position: relative;

		.info {
			margin: 0 auto;
			display: block;
			text-align: center;
			padding: 0 40px;

			.info-inner {
				display: table-cell;
				vertical-align: middle;
			}
		}

	}

	.study-info {
		background: #000;
		border-bottom: 12px solid $grn;

		.info-border-top {
			margin-top: -20px;
			border-top: 20px solid rgba(255, 255, 255 ,.5);

			&.green {
				border-color: rgba(138, 144, 13, .58);

				.info-wrap {
					background: $drkgrn;
				}
			}
		}

		.info-wrap {
			width: 100%;

			&.pic {
				.right {
					img {
						display: block;
						margin: 0 auto;
						@include bp($sml) {
							float: right;
							margin: 0;
						}
					}
				}
			}

		}

		.info {
			width: 100%;
			padding: 60px 20px;
			@include bp($tny) {
				padding: 90px 40px;
			}

			@include bp($lrg) {
				width: $lrg;
			}

			.col-1.col-50 {
				padding-left: 0;
			}

			.col-2.col-50 {
				padding-right: 0;
			}


			h2 {
				font-size: 38px;
				word-wrap: break-word;
				@include bp($sml) {
					font-size: 54px;
				}
				color: $grn;
				line-height: 150%;
			}

			h3 {
				text-transform: uppercase;
				color: $grn;
				font-size: 28px;
				@include bp($tny) {
					font-size: 34px;
				}
			}

			p {
				text-align: left;
				margin: 1em 0;
			}
		}
		div, img {
			position: relative;
		}

		div {
			z-index: 2;
		}

		&> img {
			z-index: 1;
			display: block;
			width: 100%;
			height: auto;
		}
	}
}

.insight {
	color: $grn;
	padding-bottom: 15px;
	font-size: 32px;
	text-transform: uppercase;

	&:before {
		background: url(../images/sprite_icons-100.png) center top no-repeat;
		text-indent: -9999px;
		content: "";
		height: 100px;
		width: 100px;
		padding-bottom: 15px;
		display: block;
		text-align: center;
		margin: 0 auto;

	}
	&.knight:before {
		background-position: 0 0;
	}
	&.bulb:before {
		background-position: -100px 0;
	}
	&.fly:before {
		background-position: -200px 0;
	}

}

button,
.request a {
	font-family: $font-stack;
	display: inline-block;
	background: transparent;
	color: #fff;
	border: 2px solid $grn;
	padding: 15px 15px 12px 15px;
	line-height: 100%;
	text-transform: uppercase;

	font-size: 18px;
	width: 100%;
	text-align: center;
	@include bp($tny) {
		font-size: 24px;
	}
	@include bp($sml) {
		width: auto;
	}


	@include transition(.25s all);
	cursor: pointer;

	&:hover {
		background: $grn;
		color: #000;
	}
}

.case-study {
	.study-intro {
		h1, p {
			text-align: center;
		}
	}
}

.col {
	margin: 40px 0;

	@include bp($sml) {
		float: left;
		padding: 10px;
		margin: 0;
	}

	img {
		max-width: 100%;
	}

	&.col-25 {
		@include bp($sml) {
			width: 25%;
		}
	}

	&.col-33 {
		@include bp($sml) {
			width: 33%;
		}
	}

	&.col-50 {
		@include bp($sml) {
			width: 49.5%
		}
	}

	&.col-66 {
		@include bp($sml) {
			width: 66%;
		}
	}

	&.col-75 {
		@include bp($sml) {
			width: 75%;
		}
	}
}

.view-more {
	position: absolute;
	bottom: 7%;
	left: 0;
	width: 100%;
	text-align: center;
	display: block;
	padding: 15px 0 25px 0;

	@media (max-height: 650px) {
		bottom: 0;
	}

	@include bp-max($sml) {
		bottom: 0;
	}


	a {
		text-transform: uppercase;
		display: inline-block;
		background: url(../images/bg_more.png) center bottom no-repeat;
		padding: 0 5px 30px 5px;

		&:hover {
			color: #fff;
			background-position: center 85%;
		}
	}
}

.get-paper {
	font-size: 18px;
	text-transform: uppercase;

	@include bp($lrg) {
		font-size: 22px;
	}
}

.right {
	text-align: right;
	float: right;
}

.center {
	text-align: center;
}

.wd-25 {
	width: 25%;
}

.wd-40 {
	width: 40%;
}

.wd-50 {
	width: 50%;
}

.wd-60 {
	width: 60%;
}

.wd-75 {
	width: 75%;
}


section .infogfx {
	.gfx {

// 		@include bp($sml) {
// 			opacity: 0;
// 		}

		img {
			display: block;
			margin: 0 auto;
		}
	}
}

/* Intro */
#intro {
	padding-top: 60px;
	background: none !important;
	background-size: cover;
	text-align: center;

	@include bp($med) {
		background-position: center center;
	}
	@include bp-max($med + 1px) {
		padding-top: 120px;
	}

	video {
	    position: absolute;
	    z-index: -1;
	    top: 0;
	    left: 0;
	    opacity: .2;
	    min-height: 100%;
	    min-width: 100%;
	    height: auto;
	    width: auto;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	}

	.col-1 {
		@include bp($sml) {
			text-align: left;
			width: 60%;
		}
	}

	.col-2 {
 		@include bp($sml) {
 			width: 40%;
			margin-top: 110px;

// 			img {
// 				@include bp($sml) {
// 					@include transform(scale(.9));
// 				}
// 			}
 		}
 		@include bp($med) {
 			margin-top: 160px;
 		}
	}

}

#intro-2 {
 	background: url(../images/bg_intro_2.jpg) 80% center;
 	background-size: cover;
	background: $drkgry;
	text-align: left;
	@include bp($med) {
		background-position:center center;
		text-align: center;
	}
}

#intro-3 {
	background: url(../images/bg_intro_3.jpg) 0% center;
	background-size: cover;
	text-align: left;

	@include bp($sml) {
		background-position: 35% center;
	}
 	@include bp($med + 1px) {
 		text-align: center;
 		background-position: center center;
 	}

	.col-1 {
		text-align: left;
		@include bp($med) {
			margin-left: 40%;
		}
	}
}

#intro-4 {
	background: url(../images/bg_intro_4.jpg) 77% center;
	background-size: cover;
	text-align: left;
	@include bp($med) {
		text-align: center;
		background-position: center center;
	}

	.col-1 {
		text-align: left;
		@include bp($sml) {
			width: 59%;
		}
	}
	.col-2 {
		@include bp($sml) {
			width: 40%;
		}
 		img {
			@include bp($sml) {
// 				@include transform(scale(.9));
				margin-top: 180px;
			}
 		}

 		&.right {
 			float: none;

 			@include bp($sml) {
 				float: right;
 			}
 		}
	}
}
.alt #intro-4 {
	.col-1 {
		width: 60%;
		margin: 0;
	}
	.col-2 {
		position:relative;
		margin-top: 60px;
		transform-style: preserve-3d;
		transform: scale(.8);
	}
}

#intro-5 {
	background: url(../images/bg_insights.jpg) 37% center;
	background-size: cover;

	@include bp($med) {
		background-position: center center;
	}

	h1 {
		text-align: left;
		@include bp($med + 1px) {
			text-align: center;
		}
	}

	.col-1 {
		@include bp($lrg) {
			margin-left: 40%;
		}
	}
}

/* Case Study 1 */
#study-1 {
	.study-intro {
		background: url(../images/bg_study-1.jpg) 42% center;
		background-size: cover;
		@include bp($med) {
			background-position: center center;
		}
	}
	.pic {
		background: url(../images/study-1-6-bg.jpg) center center;
		background-size: cover;
	}

	h2 {
		font-size: 24px;

		@include bp($sml) {
			font-size: 54px;
		}
	}
}

/* Case Study 2 */
#study-2 {
	.study-intro {
		background: url(../images/bg_study-2.jpg) 42% center;
		background-size: cover;
	}
	.greenbg {
	  background-color: $drkgrn;
	}
	.greybg {
		background-color: $gry;
		height: 100%;
	}
	.whitebg {
		color: #474848;
	  background-color: #FFF;
	}

	.imgcontainer {
		@include bp($tny) {
			position: relative;
			margin: 0 auto;
			margin-top: -40px;
			max-width: 957px;
			// height: 2261px;
			text-align: center;
			@include transition(.2s);
		}
		@include bp($med) {
			margin: 0 auto;
			margin-top: -40px;
			max-width: 757px;
			text-align: center;
      height: 2461px;
			margin-bottom: 40px;
		}
		@include bp($bigmed) {
			height: 2461px;
		}
		@include bp($lrg) {
	    max-width: 957px;
			height: 2151px;
		}
		@include bp($lrgr) {
	    // width: 63.19%;
			height: 2151px;
		}
		@include bp($xl) {
	    // width: 63.19%;
			height: 2151px;
		}

		ul {
		 list-style: none;
		 height: 100%;
		 width: 100%;
		 margin-top: inherit;
		 margin-bottom: inherit;
		 margin: 0 auto;
		 vertical-align: inherit;
		 @include bp($tny) {
			 padding: 0;
 		 }
	 }

		/* Insight #2 Section: Tooltips */
		#bgimg1 {
			z-index: 2;
      opacity: 0;
			position: absolute;
			display: none;
		  top: 0;
		  left: 0;
			width: auto;
      @include transition(.2s);
			@include bp($lrg) {
		    display: inline-block;
				opacity: 1;
			}
		}
		#bgimg2 {
			z-index: 1;
			opacity: 0;
			position: absolute;
			display: none;
			top: 0;
      left: 0;
			@include transition(.2s);
			@include bp($lrg) {
		    display: inline-block;
				opacity: 1;
			}
		}
		#tabletimg {
			display: none;
			width: 100%;
			top: 0;
      left: 0;
			z-index: 1;
			position: absolute;
			@include bp($tny) {
		    display: none;
			}
			@include bp($med) {
		    display: inline-block;
			}
			@include bp($lrg) {
		    display: none;
			}
		}
		.mobile-img {
			display: inline-block;
			width: 100%;
			z-index: 1;
			position: relative;
			@include bp($med) {
		    display: none;
			}
		}
		.mobile-tip-wrap {
			position: relative;
			width: 100%;
			margin: 0 auto;
			height: auto;
			z-index: 2;
		}
		.mobile-tip {
			align-items: center;
			justify-content: center;
			font-size: 28px;
			z-index: 3;
			display: block;
			padding: 50px 55px 55px 55px;
		}
		.buttonsimg {
			position: relative;
			display: inline-block;
			z-index: 5;
			background-blend-mode: multiply;
		}
		.buttons {
			border-radius: 50%;
			display: block;
			background: url(../images/btn.png) center center no-repeat rgba($drkgry, .6);
			background-size: contain;
			width: 75px;
			height: 75px;
			position: absolute;
			z-index: 4;
			box-shadow: 0px 0px 148px -6px rgba(0,0,0,1);
			@include transform(perspective(1px) translateZ(0));
			@include transition(.2s);
			@include bp($tny) {
		    display: none;
			}

			&:before {
				content: '';
				position: absolute;
				border: $grn solid 2px;
				border-radius: 50%;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				@include transition (.2s);
				@include transition-property (top, right, bottom, left);
				z-index: 2;
			}
			&:hover:before, &:focus:before, &:active:before {
				top: -9px;
				right: -9px;
				bottom: -9px;
				left: -9px;
			}
		}
		#btn-1 {
			@include bp($med) {
				display: none;
			}
			@include bp($lrg) {
				display: block;
				top: 10.98%;
				left: 2%;
			}
		}
		#btn-2 {
			@include bp($med) {
				display: block;
				top: 21%;
        left: 78%;
			}
			@include bp($lrg) {
				top: 30.4%;
				left: 84.5%;
			}
		}
		#btn-3 {
			@include bp($med) {
				display: block;
				top: 40%;
        left: 14.4%;
			}
			@include bp($lrg) {
				top: 45%;
				left: 20.5%;
			}
		}
		#btn-4 {
			@include bp($med) {
				display: block;
				top: 50%;
        left: 88%;
			}
			@include bp($lrg) {
				top: 58.7%;
				left: 83%;
			}
		}
		#btn-5 {
			@include bp($med) {
				display: block;
				top: 53.6%;
        left: 35%;
			}
			@include bp($lrg) {
				top: 68.3%;
				left: 12.5%;
			}
		}

		.bubble1  {
			align-items: center;
			justify-content: center;
			font-size: 20px;
			font-weight: 600;
			border-radius: 50%;
			color: $gry;
			border: 3px solid $grn;
			background-color: #FFF;
			position: absolute;
			z-index: 3;
			text-align: center;
			box-shadow: 0px 0px 148px -6px rgba(0,0,0,1);
			display: block;

			@include transition(.2s);
			@include transform(scale(0.2));
			@include transform-origin(left top);
			  opacity: 0;

			 &.active {
  			@include transform(scale(1));
  			  opacity: 0.95;
 				  display: block;
			}
		}
		.bubble2 {
			@extend .bubble1;
			@include transition(.2s);
			@include transform(scale(0.2));
			@include transform-origin(right top);
			  opacity: 0;

			&.active {
 				@include transform(scale(1));
 				  opacity: 0.95;
				  display: block;
			}
		}
		.tip1 {
			@include bp($med) {
				top: 12.5%;
				left: 3.5%;
			}
			@include bp($lrg) {
				top: 11.8%;
				left: 3.5%;
			}
			width: $tipsml;
			height: $tipsml;
			padding: 70px 35px 35px 35px;
		}
	  .tip2 {
			@include bp($med) {
				top: 22.4%;
        left: 56.5%;
			}
			@include bp($lrg) {
				top: 32%;
        left: 67%;
			}
				width: $tipsml;
			  height: $tipsml;
				padding: 35px 35px 35px 35px;
		}
		.tip3 {
			@include bp($med) {
				top: 40.9%;
        left: 14.1%;
			}
			@include bp($lrg) {
				top: 45.9%;
        left: 19.9%;
			}
			width: $tiplrg;
		  height: $tiplrg;
			padding: 73px 35px 35px 35px;
		}
		.tip4 {
			@include bp($med) {
				top: 51.3%;
        left: 63%;
			}
			@include bp($lrg) {
				top: 59.8%;
        left: 64%;
			}
			width: $tipmed;
			height: $tipmed;
			padding: 55px 35px 35px 35px;
		}
		.tip5 {
			@include bp($med) {
				top: 54.5%;
        left: 32.5%;
			}
			@include bp($lrg) {
				top: 69.3%;
        left: 11%;
			}
			height: $tiplrg;
			width: $tiplrg;
			padding: 68px 35px 35px 35px;
		}
  }

	.col-1 {
		@include bp($tny) {
			width: 100%;
		}
		@include bp($sml) {
			width: 60%;
		}
		@include bp($med) {
			width: 80%;
			padding: 0;
		}
		@include bp($lrg) {
			width: 75%;
		}
	 }
	.col-2 {
		@include bp($tny) {
			width: 0%;
		}
		@include bp($sml) {
			padding-top: 130px;
			width: 40%;
		}
		@include bp($med) {
			width: 20%;
			padding-top: 30px;
		}
		@include bp($lrg) {
			width: 25%;
			padding: 0;
		}
		img {
			@include bp($sml) {
				width: 75%;
				height: auto;
			}
		}

		&.right {
			float: none;

			@include bp($sml) {
				float: right;
			}
		}
	}
}

/* Case Study 3 */
#study-3 {
	.study-intro {
		background: url(../images/bg_study-3.jpg) center center;
		background-size: cover;
	}
	.pic {
		background: url(../images/study-3-7-bg.jpg) center center;
		background-size: cover;
	}
	.col-1 {
		@include bp($sml) {
			width: 60%;
		}
		@include bp($med) {
			width: 75%;
		}
	}
	.col-2 {
		@include bp($sml) {
			width: 40%;
		}
		@include bp($med) {
			width: 25%;
		}
		img {
			@include bp($sml) {
				width: 75%;
				height: auto;
			}
		}

		&.right {
			float: none;

			@include bp($sml) {
				float: right;
			}
		}
	}
}


// CSS blend mode
.backgroundblendmode {
	#intro {
		background: url(../images/bg_intro_1-blend.jpg) 80% center $blend-grn;
		background-size: cover;
		background-blend-mode: multiply;
		@include bp($med) {
			background-position: center center;
		}
	}
	#intro-2 {
 		background: url(../images/bg_intro_2-blend.jpg) 80% center $blend-gry;
 		background-size: cover;
 		background-blend-mode: multiply;
		@include bp($med) {
			background-position:center center;
		}
	}
	#intro-3 {
		background: url(../images/bg_intro_3-blend.jpg) 0% center $blend-grn;
		background-size: cover;
		background-blend-mode: multiply;

		@include bp($sml) {
			background-position: 35% center;
		}
		@include bp($med + 1px) {
			text-align: center;
			background-position: center center;
		}

	}
	#intro-4 {
		background: url(../images/bg_intro_4-blend.jpg) 77% center $blend-gry;
		background-size: cover;
		background-blend-mode: multiply;
		@include bp($med) {
			background-position: center center;
		}

	}
	#insights {
		background: url(../images/bg_insights-blend.jpg) 37% center $blend-grn;
		background-size: cover;
		background-blend-mode: multiply;
		@include bp($med) {
			background-position: center center;
		}
	}
	#study-1 .study-intro {
		background: url(../images/bg_study-1-blend.jpg) 42% center $blend-gry;
		background-size: cover;
		background-blend-mode: multiply;

		@include bp($med) {
			background-position: center center;
		}
	}

	#study-1 .pic {
		background: url(../images/study-1-6-bg-blend.jpg) 0% center $blend-gry;
		background-size: cover;
		background-blend-mode: multiply;

		@include bp($med) {
			background-position: center center;
		}
	}

	#study-2 .study-intro {
		background: url(../images/study-2-intro.jpg) center center $blend-gry;
		background-size: cover;
		background-blend-mode: multiply;
	}

  #study-2 .picbg{
	  background: url(../images/study-2-7.jpg) center center rgb(37, 37, 37);
	  background-size: cover;
	  background-clip: padding-box;
	  background-blend-mode: multiply;

		@include bp($med) {
			background-position: center center;
		}
	}

	#study-2 .topborder {
		margin-top: -20px;
    border-top: 20px solid rgba(0, 0, 0, 0.75);
	}

	#study-3 .study-intro {
		background: url(../images/bg_study-3-blend.jpg) center center $blend-gry;
		background-size: cover;
		background-blend-mode: multiply;
	}

}

/* Experience */
#experience {
	background: #949494;

	.logos {
		list-style: none;
		margin: 0;
		padding: 0 0 40px 0;

		li {
			display: block;
			margin: 0 auto;
			height: 90px;
			overflow: hidden;
			text-indent: -9999px;
			background: url(../images/logos-sprite.png) no-repeat top center;

			@include bp($med) {
				display: inline-block;
				margin: 10px 20px;
			}

			&#aarp		{width: 188px; background-position: center top;}
			&#aon		{width: 112px; background-position: center -90px;}
			&#ncoa		{width: 196px; background-position: center -180px;}
			&#seacrest	{width: 195px; background-position: center -270px;}
			&#eyemed	{width:  91px; background-position: center -360px;}
			&#aarp-road	{width: 271px; background-position: center -450px;}
			&#welmedix	{width: 105px; background-position: center -540px;}
			&#matrix	{width: 199px; background-position: center -630px;}
			&#pfizer	{width: 130px; background-position: center -720px;}
			&#walgreens	{width: 197px; background-position: center -810px;}
		}
	}

	img {
		display: block;
		margin: 0 auto;

		@include bp($med) {
			display: inline-block;
			padding: 10px 20px;
			margin: 0;
		}

	}

	.request a {
		color: #fff;
		border-color: #fff;

		&:hover {
			border-color: $grn;
		}
	}
}

#contact {
	background: $drkgry;

	h1 {
		color: $grn;
	}

	.input-wrapper {
		border:1px solid rgba(255,255,255,.6);
		@include bp($med) {
			width: 90%;
		}

		&.focus {
			border-color: #fff;
			background: rgba(255, 255, 255, .05);
		}
	}

	p {
		font-size: 22px;

		small {
			font-size: 75%;
		}
	}

	h2 {
		color: $grn;
		text-transform: uppercase;
		font-size: 24px;
		margin-bottom: .5em;
		line-height: 150%;
	}

	label {
		position: relative;
		display: block;
		text-transform: uppercase;
		padding: 10px 10px 0 10px;
		@include bp($med) {
			padding-right: 80px;
		}
		margin: 0;
		color: rgba(255, 255, 255, .6);
		font-size: 12px;
		@include bp($tny) {
			font-size: 14px;
		}

		sup {
			color: rgb(255, 0, 0);
			font-size:75%;
			position: absolute;
			right: 10px;
			top: 10px;
		}
	}

	input,
	textarea {
		border: 0;
		background: transparent;
		padding: 10px;
		color: #fff;
		width: 100%;
		font-family: $font-stack;

		font-size: 18px;
		@include bp($tny) {
			font-size: 20px;
		}
		@include bp($sml) {
			font-size: 24px;
		}



		&:focus {
			border-color: $grn;
			outline: none;
		}
	}

	textarea {
		resize: vertical;
		overflow: auto;
		height: 150px;
	}

	button {
		width: 100%;
		@include bp($med) {
			width: auto;
		}
		margin: 20px 0;
	}

	.msg {
		display: none;
		border: 2px solid rgb(255, 255, 255);
		background: rgba(255, 255, 255, .25);
		padding: 10px;
		margin: 10px 0;
		width: 100%;
		@include bp($med) {
			width: 90%;
		}
		line-height: 150%;

		&.error {
			border-color: rgb(200, 0, 0);
			background: rgba(200, 0, 0, .25);
		}

		&.success {
			border-color: rgb(0, 200, 0);
			background: rgba(0, 200, 0, .25);
		}
	}
}

#whitepapers {
	// disabled for now
	display: none;
	//
	background: #fff;
	color: rgb(137, 137, 137);

	.contain {
		width: 100%;
		@include bp($lrg) {
			width: $lrg;
		}
	}

	h2, p, a {
		text-align: left;
	}

	h2 {
		font-size: 32px;
		text-transform: uppercase;
		margin: 20px 0;
	}

	a {
		color: $drkgrn;
	}
}


.no-mobile {
	display: none !important;

	@include bp($sml) {
		display: block !important;
	}
	&.tablet {
		@include bp($sml) {
			display: none !important;
		}
		@include bp($med + 1px) {
			display: block !important;
		}
	}
}

.mobile-only {
	display: block !important;

	@include bp($sml) {
		display: none !important;
	}
}

/* Comcast Temporary */

.cstlayout {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: auto;
}
img#cstlayoutImg {
    width: 100%;
}

/* In case JS doesn't work */
section,
.study-intro,
.info-inner {
	min-height: 700px !important;
	padding: 80px 0;
}

.case-study {
	padding: 0;
}

/* Clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
.nopadding {
	padding: 0 !important;
}
